{% extends '/layout/login.html' %}
{% block main %}
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="{{constant('SITE_URL')}}">
                                        <img src="{{constant('ASSETS_URL')}}images/logo-full.png" style="max-width:300px;" alt="{{constant('DOMAIN_BRAND_NAME')}}"/>
                                    </a>
                                </div>
                                <h4 class="text-center mb-4 text-white">Reset Password</h4>
                                {% include '/layout/success-error.html' %}
                                <form method="post" name="forgot_password" id="forgot_password">
                                    <input type="hidden" name="type" value="{{get.type}}" />
                                    <div class="form-group">
                                        <label class="text-white"><strong>User</strong></label>
                                        <input type="text" class="form-control" name="user1" id="user1" placeholder="hello@example.com" value="{{get.user1}}" readonly="readonly" required>
                                        <input type="hidden" class="form-control" name="user" id="user" value="{{get.user}}">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-white"><strong>Password</strong></label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-white text-primary btn-block">SUBMIT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}