{% extends '/admin/layout/main.html' %}
{% block main %}
<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <h4>Languages</h4>
            <!--<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Shop </a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Checkout</a></li>
            </ol>-->
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 order-lg-1"></div>
                            <div class="col-lg-6 order-lg-1">
                                <h4 class="mb-3">Add / Update Language</h4>
                                <form method="post" action="" class="needs-validation">
                                    <input type="hidden" name="auto_id" value="{{caption.auto_id}}" />
                                    <div class="mb-3">
                                        <label for="caption">Caption</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="caption" id="caption" placeholder="Caption" required="" value="{{caption.lang_en}}">
                                            <div class="invalid-feedback d-none">
                                                Caption is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 d-none">
                                        <label for="type">Type</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="type" id="type" placeholder="typr" required="" value="{{caption.type}}">
                                            <div class="invalid-feedback d-none">
                                                Type is required.
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Add/Update Language</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}