{% extends '/admin/layout/main.html' %}
{% block main %}
<div class="content-body">
    <div class="container-fluid">
        <div class="form-head mb-4">
            <h2 class="text-black font-w600 mb-0">Stores List</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="d-sm-flex  d-block align-items-center mb-4">
                    <div class="mr-auto">
                        <h4 class="fs-20 text-black">Stores <small>({{totalRecords}})</small></h4>
                        <span class="fs-12">Stores list from website</span>
                    </div>
                    <form action="" method="post">
                        <div class="dropdown custom-dropdown mb-0 mt-3 mt-sm-0">
                            <div class="dropdown bootstrap-select default-select dropup">
                                <select name="statis" class="default-select" tabindex="-98">
                                    <option selected="">All</option>
                                    <option value="active">Active</option>
                                    <option value="deleted">Deleted</option>
                                </select>
                            </div>
                        </div>
                        <div class="dropdown custom-dropdown mb-0 mt-3 mt-sm-0">
                            <div class="btn btn-light btn-rounded" role="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="las la-calendar-alt scale5 mr-3"></i>
                                <input type="text" class="form-control-sm" placeholder="Search" value="{{search.keyword}}" name="keyword" id="keyword">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive table-hover fs-14">
                    <table class="table display mb-4 dataTablesCard " id="example5" style="display: inline-table; overflow-x: auto;">
                        <thead>
                            <tr>
                                <th>Store ID</th>
                                <th>Store Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Added On</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for store in stores %}
                            <tr>
                                <td><span class="text-black font-w500">{{store.store_id}}</span></td>
                                <td><span class="text-black">{{store.store_name}}</span></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {% if store.userInfo.image != '' %}
                                        <img src="{{constant('SITE_URL')}}{{store.userInfo.image}}" alt="{{store.userInfo.user_name}}" class="rounded-circle mr-3 hidden-xs hidden-sm" width="50">
                                        {% else %}
                                        <img src="{{constant('SITE_URL')}}assets/images/avatar/25.png" alt="{{store.userInfo.user_name}}" class="rounded-circle mr-3 hidden-xs hidden-sm" width="50">
                                        {% endif %}
                                        <div>
                                            <h6 class="fs-16 text-black font-w600 mb-0 text-nowrap">{{store.userInfo.user_name}}</h6>
                                            <span class="fs-14 hidden-xs hidden-sm">Online Shop</span>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="text-black">{{store.userInfo.email}}</span></td>
                                <td><span class="text-black">{{store.added_on|date("d M, Y H:i:s")}}</span></td>
                                <td><a href="javascript:void(0)" class="btn btn-success btn-sm btn-rounded">{{store.status}}</a></td>
                                <td>
                                    <div class="dropdown mb-auto">
                                        <div class="btn-link" role="button" data-toggle="dropdown" aria-expanded="false">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z" fill="black"></path>
                                            <path d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z" fill="black"></path>
                                            <path d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z" fill="black"></path>
                                            </svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            {% if store.status == 'active' %}
                                            <a class="dropdown-item" href="{{constant('ADMIN_URL')}}stores/index/action/inactive/id/{{store.store_id}}">Deactivate</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{{constant('ADMIN_URL')}}stores/index/action/active/id/{{store.store_id}}">Activate</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="table-responsive table-hover fs-14">
                        <div id="example5_wrapper" class="dataTables_wrapper no-footer">
                            <div class="row ml-0 mr-0">
                                <div class="col-lg-6 text-left">
                                    {{pagenationInfo|raw}}
                                </div>
                                <div class="col-lg-6 text-right">
                                    {{pagenation|raw}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}